/* Search bar */
.autocomplete {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 800px;
  position: relative;
}

/* Resultat boxen med livsmedelsinformation */
.result-container {
  width: 100%;        
  max-width: 750px; 
  margin: 0 auto;       
  padding: 10px;        
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 15px;
  max-height: 500px;
  overflow-y: auto;
  display: none;
}

/* Filtermenyn */
select{
  width: 100%; 
  max-width: 200px; 
  padding: 10px 1px 10px 40px; 
  font-size: 16px;
  border: 10px solid white;
  border-radius: 30px;
  background-color: #f1f1f1;
  transition: border-radius 0.3s ease;
  appearance: none;
  outline: none;
}

/* Fiteralternativen */
option{
  background-color: white;
}

/* aktiv search bar - när användaren söker på något */
input[type="search"] {
  width: 100%; 
  max-width: 800px; 
  padding: 10px 10px 10px 40px; 
  font-size: 16px;
  border: 10px solid white;
  border-radius: 30px;
  background-color: #f1f1f1;
  transition: border-radius 0.3s ease;
  appearance: none;
  outline: none;
}

input[type="search"].active {
  border-radius: 30px 30px 0 0; 
}

/* Sökfältets ikon på sidan */
.search-icon {
  position: absolute; 
  top: 50%;           
  left: 20px;        
  transform: translateY(-50%); 
  font-size: 20px;    
  color: #888;       
  pointer-events: none; 
}

/* Filtrets ikon på sidan */
.filter-icon {
  position: absolute; 
  top: 50%;           
  right: 160px;        
  transform: translateY(-50%); 
  font-size: 20px;    
  color: #888;       
  pointer-events: none; 
}

/*Rullistan på förslag */
.autocomplete-items {
  max-height: 260px;
  overflow-y: auto;
  position: absolute;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  scrollbar-width: thin;
  scrollbar-color: #4CAF50 #f1f1f1;
}

.autocomplete-items::-webkit-scrollbar {
  width: 8px;
}

.autocomplete-items::-webkit-scrollbar-thumb {
  background-color: #4CAF50; 
  border-radius: 10px; 
}

.autocomplete-items::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  border-bottom: 1px solid #f1f1f1;
  transition: background-color 0.3s ease;
}

.autocomplete-items div:hover {
  background-color: #C8E6C9;
}
/* Syns inte i nuläget, border blir blått när man klickar på sökfältet
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
*/

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Förhindrar sidscrollning */
  box-sizing: border-box;
}