/* Topbar */

* {
  box-sizing: border-box;
}

/* Textstorlek för loggan "SustainaBite" */
body {
  font: 16px Arial;
}
/* Loggans position */
h2 {
  font: 35px Arial; 
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5px;
}


.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007004;
    color: white;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .logo {
    display: flex;
    
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    max-width: 150px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-links a:hover {
    background-color: white;
    color: #4CAF50;
  }
  
  
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    margin-top: auto;
    text-align: center;
    padding: 1%;
    background-color: #007004;
    color: white;
    font-size: 14px;
  }

  

