/* Topbar */

* {
  box-sizing: border-box;
}

/* Textstorlek för loggan "SustainaBite" */
body {
  font: 16px Arial;
}
/* Loggans position */
h2 {
  font: 35px Arial; 
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 5px;
}


.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #007004;
  color: white;
  height: 60px; /* Fixed height in pixels */
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Ensures it's always visible at the top */
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

  
  .logo {
    display: flex;
    
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    max-width: 150px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-links a:hover {
    background-color: white;
    color: #4CAF50;
  }
  
  
  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #007004;
    color: white;
    height: 50px; /* Fixed height in pixels */
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; /* Ensures it's always visible at the bottom */
    bottom: 0;
    z-index: 1000;
    box-sizing: border-box;
}